.technologies{
    display:grid;
    width: auto;
  }
  
  .container-technologies {
      display: flex;
      justify-content: center;
      height: 30vh;
      background-color: rgb(224, 203, 17);
  }
  
  .h1-home {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: 'Lexend Giga', sans-serif;
      font-size: 45px;
  }
  
  .icono-technologies {
      display: inline-block;  
      margin: 1.5%;
      width: 70px;  
      height: 70px;   
  }
  
  @media screen and (max-width: 600px) {
      .container-technologies {
          display: block;
          overflow-x: auto;
          white-space: nowrap;
          width: auto;
          height: 20vh;
          margin-top:-26%;
      }
  
      .icono-technologies {
          margin-top: 8%;
          width: 70px;
          height: 70px;
      }
  
      .h1-home {
          margin-top: -5%;
          height: 40vh;
      }
  }
  
  @media screen and (min-width: 601px) {
      .container-technologies {
          display: flex;
          overflow-x: auto;
          align-items: center;
          justify-content: center;
          margin-top: 2%;
          height: 30vh;
          margin-bottom: -10%;
          background-color: rgb(224, 203, 17);
      }
  
      .icono-technologies {
          margin-top: 1.5%;
          margin-right: 1.5%;
      }
  
      .h1-home {
          margin-top: 10%;
      }
  }
  @media screen and (min-width: 375px) {
      .container-technologies {
      margin-bottom: -6%;
      }
  }
  @media screen and (max-width: 320px) {
  
      .h1-home {
      font-size: 28px;
      }
  
  }